@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

#bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bg-card {
    background-color: rgba(160, 160, 160, 0.253);
    border: none;
}

.poster_img{
height:650px;
}

.cardBody{
    background-color: rgba(132, 134, 136, 0.39) !important;
    color: rgb(241, 241, 238);
}

.card_title{
    font-family:'Gloria Hallelujah', cursive;
}
