#bg-img {
    background-repeat: 'no-repeat';
    background-size: cover;
    
}

#bg-card {
    background-color: rgba(250, 250, 250, 0.253);
    border: none;
}

.list-item{
    background-color: rgba(250, 250, 250, 0.178) !important;
}